* {
    font-family: 'Open Sans', sans-serif;
}



.container-fluid,
.row {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-default{
  background-color: white;
  border: none;
}

.navbar .navbar-collapse {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}


.padding_right {
    padding-right: 30px;
}

.padding_left {
    padding-left: 50px;
}

/*h1 {
  font-size: 50px;
}*/

.padding_top {
  padding-top: 30px;
}

.padding_top_min {
  padding-top: 10px;
}

.more_padding{
  padding-top: 18px;
}

.icon_padding{
  padding-right: 10px;
}

.s_icon_padding{
  padding-right: 5px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 200px;
}
.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 140px;
}

.green{
  background-color: #89CC9C;
}

.grey{
  background-color: #999999;
}

.grey_font{
  color: #999999;
  font-weight: 300;
}

.light_green{
  background-color: #D0E9d7;
}

.dark_green{
  background-color: #648C60;
}

.button_padding{
  padding-top: 25px;
  padding-bottom: 38px;
}

.k_button{
  background-color: #FFF;
  border-color: #89CC9C;
  color: #006633;
  border-width: 2px;
  font-size: 15px;
}

.k_button:hover{
  background-color: #89CC9C;
  border-color: #89CC9C;
  color: #006633;
}

@media (max-width: 768px) {
  .xs_center{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .padding_left{
    padding-left: 0px;
    padding-right: 0px;
  }

  .padding_right{
    padding-left: 0px;
    padding-right: 0px;
  }
}

